.task,.task-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50px;
  margin: 0 25%;
}
.task-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 75px;
  width: 100%;
  justify-content: space-evenly;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
